{% extends 'base/principal.html' %}
{% block content %}
{% load static %}



<h1>Registrarse</h1>

<form id="login" method="post" class="formato-1">
    {% csrf_token %}
    <label> {{form.username.label}}</label>
     {{form.username}}

     <label> {{form.password1.label}}</label>
     {{form.password1}}

     <label> {{form.password2.label}}</label>
     {{form.password2}}

    <input style="margin-top: 10px;" class="botonform" type="submit" value="Registrar">
</form>

<p>ya tienes tu cuenta? <a href="{% url 'logueo' %}">Ingresa</a></p>



{% endblock content %}